* {
  background-color: #ECF0F1;
}
.head {

  padding: 25px;
  width: 300px;
  margin: auto;
}

.close:hover{
  color: red;
}

.well {
  margin: auto;
  margin-bottom: 10px;
  align-items: center;
  font-size: medium;
  color: #000000;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}